* {
 box-sizing: border-box;
}
.top-wrapper {
 background-image: url(https://encryptedtbn0.gstatic.com/images?q=tbn:ANd9GcRj3HLtl7dSQ7GgWENQ2fbFXbZytB3ZSVUwdg&usqp=
CAU);
 background-repeat: no-repeat;
background-size: 21%;
background-position: top center;
 border: dotted 15px rgb(69, 69, 228);
}
.container {
 padding-top: 10%;
}
.para {
 color: rgb(69, 69, 228);
 font-family: cursive;
font-size: 70px;
}
.btn {
 padding-bottom: 20px;
padding-top: 50px;
}
.open-btn {
 background-color: rgb(69, 69, 228);
 color: white;
font-family: cursive;
height: 35px;
padding: 1.5px;
width: 150px;
}
fieldset {
 width: 500px;
border: solid whitesmoke 3px;
 border-style: groove;
box-shadow: 0px 0px 10px rgb(101, 101, 226);
 background-color: rgb(69, 69, 228);
}
label {
 color: whitesmoke;
font-weight: bold;
text-decoration-color: black;
}
form {
 padding-top: 20px;
font-family: cursive;
text-shadow: 1px 1px black;
}
#name {
 width: 200px;
}
#email {
 width: 200px;
}
#submit {
 height: 35px;
padding: 1.5px;
width: 150px;
background-color: whitesmoke;
color: rgb(69, 69, 228);
 font-family: cursive;
font-weight: bold;
}
